:root {
	box-sizing: border-box;
	/* font-size: calc(0.5em + 1vw); */
	--main-font: Helvetica, Arial, sans-serif;
}
*,
::before,
::after {
	box-sizing: inherit;
}
body {
	background-color: #709b90;
	font-family: var(--main-font);
}
body * + * {
	margin-top: 1.5em;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.site-nav {
	display: flex;
	padding: .5em;
	background-color: #5f4b44;
	list-style-type: none;
	border-radius: .2em;
}
.site-nav > li {
	margin-top: 0;
}
.site-nav > li + li {
	margin-left: 1.5em;
}
.site-nav > .nav-right {
	margin-left: auto;
}
.site-nav > li > a {
	display: block;
	padding: .5em 1em;
	background-color: #cc6b5a;
	color: white;
	text-decoration: none;
}
.tile {
	padding: 1.5em;
	background-color: #fff; 
}
.flex {
	display: flex;
}
.flex > * + * {
	margin-top: 0;
	margin-left: 1.5em;
}
.column-main {
	flex: 2;
}
.column-sidebar {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.column-sidebar > .tile {
	flex: 1;
}
/*
.column-main {
	width: 66.67%;
}
.column-sidebar {
	width: 33.33%;
}
*/
.login-form h3{
	margin: 0;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.login-form input:not([type="checkbox"]):not([type="radio"]){
	display: block;
	margin-top: 0;
	width: 100%;
}
.login-form button {
	margin-top: 1em;
	border: 1px solid black;
	background-color: #fff;
	padding: .5em 1em;
	cursor: pointer;
}
.centered {
	text-align: center;
}
.cost {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: .7;
}
.cost > span {
	margin-top: 0;
}
.cost-currency {
	font-size: 2rem;
}
.cost-roubles {
	font-size: 4rem;
}
.cost-kopecks {
	font-size: 1.5rem;
	align-self: flex-start;
}
.cta-button {
	display: block;
	background: #cc6b5a;
	color: white;
	padding: .5em 1em;
	text-decoration: none;
}